# Common
VMDOCKER_URL=http://127.0.0.1:8080
VMDOCKER_PRIVATE_KEY=

# Choose one module generation mode below.

# Pull mode
# VMDOCKER_SANDBOX_IMAGE_NAME=chriswebber/docker-openclaw-sandbox:fix-test
# VMDOCKER_SANDBOX_IMAGE_ID=

# Build mode
VMDOCKER_BUILD_DOCKERFILE=./Dockerfile.sandbox
VMDOCKER_BUILD_CONTEXT_DIR=.
VMDOCKER_BUILD_TAG=vmdocker-openclaw:local
